@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}


// per la definzione dei breakpoint utilizziamo metodo "perfect" => quando design breaks -> breakpoint
@mixin respond($breakpoint) {
  @if $breakpoint == w600 {
    @media only screen and (max-width: 37.5em) { @content }; // 800px
  }
  @if $breakpoint == w800 {
    @media only screen and (max-width: 50em) { @content }; // 800px
  }
  @if $breakpoint == w1000 {
    @media only screen and (max-width: 62.5em) { @content }; // 1000px
  }
  @if $breakpoint == w1200 {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }; // 1800px
  }
}
